Repository louiesdad/datacloak_workbench: changes, and which Codecov flags are due for each by the changed paths.
All: web-ui, backend, datascience, security, electron-shell

.codecov.yml:

# Codecov configuration
coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success

  ignore:
    - "**/*.test.ts"
    - "**/*.test.js"
    - "**/*.spec.ts"
    - "**/*.spec.js"
    - "**/test/**"
    - "**/tests/**"
    - "**/__tests__/**"
    - "**/dist/**"
    - "**/build/**"
    - "**/coverage/**"
    - "**/*.d.ts"
    - "scripts/**"
    - "build-resources/**"
    - "binaries/**"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

flags:
  web-ui:
    paths:
      - packages/web-ui/src
  backend:
    paths:
      - packages/backend/src
  datascience:
    paths:
      - packages/datascience/src
  security:
    paths:
      - packages/security/src
  electron-shell:
    paths:
      - packages/electron-shell/src

docs: update project status - backend implementation 95% complete
  docs/STATUS.md
Due: none

feat: complete Terminal 5 DevOps infrastructure with integration testing
  docs/STATUS.md
  package.json
  tests/integration/data-science-backend.test.js
  tests/integration/package.json
Due: none

[DS] Complete field inference engine with GPT assistance
  packages/datascience/.claude/settings.local.json
  packages/datascience/dist/benchmarks/accuracy-evaluator.js.map
  packages/datascience/dist/field-inference/type-detector.d.ts.map
  packages/datascience/dist/field-inference/type-detector.js
  packages/datascience/dist/field-inference/type-detector.js.map
  packages/datascience/dist/generators/field-generator.d.ts.map
  packages/datascience/dist/generators/field-generator.js
  packages/datascience/dist/generators/field-generator.js.map
  packages/datascience/src/__tests__/benchmarks.test.ts
  packages/datascience/src/__tests__/field-inference.test.ts
  packages/datascience/src/__tests__/reporter.test.ts
  packages/datascience/src/benchmarks/accuracy-evaluator.ts
  packages/datascience/src/field-inference/type-detector.ts
  packages/datascience/src/generators/field-generator.ts
Due: datascience

docs: update STATUS.md - T3 Data Science package 100% complete
  docs/STATUS.md
  shared/contracts/api.ts
  shared/contracts/events.ts
  shared/contracts/index.ts
  shared/contracts/platform.ts
  shared/index.ts
  shared/package.json
  shared/test-fixtures/api-responses.ts
  shared/test-fixtures/datasets.ts
  shared/test-fixtures/index.ts
  shared/test-fixtures/performance.ts
  shared/test-fixtures/security.ts
  shared/test-fixtures/sentiment.ts
  shared/tsconfig.json
Due: none

Complete security package implementation with comprehensive testing
  packages/security/src/__tests__/security-integration.test.ts
Due: security

Update STATUS.md: Security package completed (100%)
  docs/STATUS.md
Due: none

Add comprehensive backend architecture documentation
  packages/backend/API.md
  packages/backend/ARCHITECTURE.md
  packages/backend/README.md
  packages/web-ui/src/components/FormField.css
  packages/web-ui/src/components/FormField.tsx
  packages/web-ui/src/components/LazyComponents.css
  packages/web-ui/src/components/LazyComponents.tsx
  packages/web-ui/src/components/WorkflowManager.tsx
  packages/web-ui/src/utils/errorHandling.ts
  packages/web-ui/src/utils/performance.ts
Due: web-ui

Add comprehensive security documentation
  README.md
  SECURITY.md
  docs/STATUS.md
  packages/security/README.md
Due: none

Complete frontend development with comprehensive documentation
  docs/DATA_SCIENCE.md
  packages/web-ui/README.md
Due: none

Complete integration testing infrastructure with working API tests
  packages/backend/.claude/settings.local.json
  packages/backend/data/duckdb.db.wal
  packages/backend/data/sqlite.db-shm
  packages/backend/data/sqlite.db-wal
  packages/backend/file::memory:?cache=shared
  packages/backend/package.json
  packages/backend/src/database/index.ts
  packages/backend/src/database/sqlite.ts
  packages/backend/tests/integration/api.test.ts
  packages/backend/tests/integration/database.setup.ts
  packages/backend/tests/integration/simple-api.test.ts
  packages/backend/tests/setup.ts
  packages/backend/tsconfig.json
  packages/frontend/.claude/settings.local.json
  packages/security/.claude/settings.local.json
  packages/web-ui/src/__tests__/App.test.tsx
  packages/web-ui/src/__tests__/platform-bridge.test.ts
  packages/web-ui/src/components/__tests__/ErrorBoundary.test.tsx
  packages/web-ui/src/components/__tests__/FormField.test.tsx
  packages/web-ui/src/components/__tests__/LazyComponents.test.tsx
  packages/web-ui/src/components/__tests__/Navigation.test.tsx
  packages/web-ui/src/components/__tests__/NotificationToast.test.tsx
  packages/web-ui/src/components/__tests__/WorkflowManager.test.tsx
  packages/web-ui/src/context/__tests__/AppContext.test.tsx
  packages/web-ui/src/utils/__tests__/errorHandling.test.ts
  packages/web-ui/src/utils/__tests__/performance.test.ts
  packages/web-ui/src/utils/__tests__/validation.test.ts
  packages/web-ui/src/utils/validation.ts
Due: web-ui, backend

Achieve 85%+ frontend test coverage with comprehensive testing infrastructure
  README.md
  docs/STATUS.md
  packages/frontend/.claude/settings.local.json
  packages/web-ui/src/utils/__tests__/validation.test.ts
  packages/web-ui/src/utils/validation.ts
Due: web-ui

Implement comprehensive DataCloak security integration with PII protection
  README.md
  docs/STATUS.md
  packages/backend/ARCHITECTURE.md
  packages/backend/package.json
  packages/backend/src/controllers/security.controller.ts
  packages/backend/src/database/sqlite.ts
  packages/backend/src/routes/index.ts
  packages/backend/src/routes/security.routes.ts
  packages/backend/src/services/data.service.ts
  packages/backend/src/services/security.service.ts
  packages/backend/src/services/sentiment.service.ts
  packages/backend/src/validation/schemas.ts
  packages/backend/tests/integration/security-api.test.ts
Due: backend

Implement advanced backend features: job queue system, chunked file processing, and enhanced error handling
  packages/backend/.claude/settings.local.json
  packages/backend/ARCHITECTURE.md
  packages/backend/data/sqlite.db-shm
  packages/backend/data/sqlite.db-wal
  packages/backend/file::memory:?cache=shared
  packages/backend/src/controllers/job.controller.ts
  packages/backend/src/routes/index.ts
  packages/backend/src/routes/jobs.routes.ts
  packages/backend/src/services/data.service.ts
  packages/backend/src/services/file-stream.service.ts
  packages/backend/src/services/job-handlers.ts
  packages/backend/src/services/job-queue.service.ts
  packages/backend/src/validation/job.schemas.ts
  packages/backend/tests/integration/error-handling.test.ts
Due: backend

Update project documentation with advanced backend features
  README.md
  docs/STATUS.md
Due: none

feat(frontend): Complete all post-launch FE tasks for production readiness
  CHANGELOG.md
  README.md
  docs/BACKEND_BUG_FIXES.md
  docs/BACKEND_TASKS_COMPLETED.md
  docs/FEATURES.md
  docs/STATUS.md
  packages/backend/.claude/settings.local.json
  packages/backend/API_ENHANCEMENTS.md
  packages/backend/package.json
  packages/backend/scripts/test-large-files.ts
  packages/backend/src/controllers/sse.controller.ts
  packages/backend/src/routes/index.ts
  packages/backend/src/routes/sse.routes.ts
  packages/backend/src/services/job-queue.service.ts
  packages/backend/src/services/openai.service.ts
  packages/backend/src/services/rate-limiter.service.ts
  packages/backend/src/services/sse.service.ts
  packages/backend/src/tests/integration/datacloak-ffi-test.ts
  packages/backend/src/tests/integration/sse-progress-test.ts
  packages/backend/src/tests/performance/large-file-test.ts
  packages/backend/src/tests/performance/rate-limit-test.ts
  packages/e2e-tests/fixtures/test-fixtures.ts
  packages/e2e-tests/helpers/app-actions.ts
  packages/security/scripts/install-datacloak.sh
  packages/web-ui/src/components/ElectronFeatureMonitor.css
  packages/web-ui/src/components/ElectronFeatureMonitor.tsx
  packages/web-ui/src/components/ProgressIndicator.tsx
  packages/web-ui/src/components/ResultExplorer.tsx
  packages/web-ui/src/components/TransformDesigner.tsx
  packages/web-ui/src/components/WorkflowManager.tsx
  packages/web-ui/src/components/__tests__/ElectronFeatureMonitor.test.tsx
  packages/web-ui/src/components/index.ts
  packages/web-ui/src/hooks/useDebounce.ts
  packages/web-ui/src/hooks/useWebWorker.ts
  packages/web-ui/src/workers/dataTransform.worker.ts
  packages/web-ui/src/workers/sentimentAnalysis.worker.ts
Due: web-ui, backend

fix: Resolve all remaining TypeScript compilation errors (E2E tests unblocked)
  docs/STATUS.md
  packages/backend/src/controllers/job.controller.ts
  packages/backend/src/controllers/security.controller.ts
  packages/backend/src/controllers/transform.controller.ts
  packages/backend/src/middleware/async.middleware.ts
  packages/backend/src/routes/export.routes.ts
  packages/backend/src/routes/monitoring.routes.ts
  packages/backend/src/services/cost-estimation.service.ts
  packages/backend/src/services/data.service.ts
  packages/backend/src/services/datacloak-integration.service.ts
  packages/backend/src/services/export.service.ts
  packages/backend/src/services/job-handlers.ts
  packages/backend/src/services/memory-monitor.service.ts
  packages/backend/src/services/openai.service.ts
  packages/backend/src/services/rate-limiter.service.ts
  packages/backend/src/services/security.service.ts
  packages/backend/src/services/sentiment.service.ts
  packages/backend/src/services/transform-validation.service.ts
  packages/backend/src/tests/integration/datacloak-ffi-test.ts
  packages/backend/src/tests/integration/sse-progress-test.ts
  packages/backend/src/tests/performance/large-file-test.ts
  packages/backend/src/tests/performance/rate-limit-test.ts
  packages/e2e-tests/NEW_TESTS_SUMMARY.md
  packages/e2e-tests/tests/08-security-features.spec.ts
  packages/e2e-tests/tests/09-chunked-processing.spec.ts
  packages/e2e-tests/tests/10-job-queue-system.spec.ts
  packages/e2e-tests/tests/11-memory-monitoring.spec.ts
  packages/e2e-tests/tests/12-sse-progress.spec.ts
Due: backend

Complete Frontend Bug Fixes 005-010: All Major UI Components Implemented
  docs/STATUS.md
  packages/web-ui/src/components/AppVersion.css
  packages/web-ui/src/components/AppVersion.tsx
  packages/web-ui/src/components/DataSourcePicker.tsx
  packages/web-ui/src/components/ElectronFeatureMonitor.tsx
  packages/web-ui/src/components/FormField.tsx
  packages/web-ui/src/components/JobQueueManager.css
  packages/web-ui/src/components/JobQueueManager.tsx
  packages/web-ui/src/components/LargeDatasetExporter.tsx
  packages/web-ui/src/components/LargeFileUploader.tsx
  packages/web-ui/src/components/LazyComponents.tsx
  packages/web-ui/src/components/MemoryMonitor.tsx
  packages/web-ui/src/components/Navigation.tsx
  packages/web-ui/src/components/NotificationToast.tsx
  packages/web-ui/src/components/ProfilerUI.css
  packages/web-ui/src/components/ProfilerUI.tsx
  packages/web-ui/src/components/RealTimeDashboard.css
  packages/web-ui/src/components/RealTimeDashboard.tsx
  packages/web-ui/src/components/ResultExplorer.tsx
  packages/web-ui/src/components/RunWizard.tsx
  packages/web-ui/src/components/SSEProgressIndicator.css
  packages/web-ui/src/components/SSEProgressIndicator.tsx
  packages/web-ui/src/components/SecurityAuditReport.css
  packages/web-ui/src/components/SecurityAuditReport.tsx
  packages/web-ui/src/components/SecurityBadge.css
  packages/web-ui/src/components/SecurityBadge.tsx
  packages/web-ui/src/components/SentimentAnalysisControl.css
  packages/web-ui/src/components/SentimentAnalysisControl.tsx
  packages/web-ui/src/components/SentimentInsights.tsx
  packages/web-ui/src/components/TransformDesigner.tsx
  packages/web-ui/src/components/TransformOperationEditor.tsx
  packages/web-ui/src/components/TransformPipelinePersistence.css
  packages/web-ui/src/components/TransformPipelinePersistence.tsx
  packages/web-ui/src/components/WebSocketStatus.css
  packages/web-ui/src/components/WebSocketStatus.tsx
  packages/web-ui/src/components/index.ts
Due: web-ui

Fix React infinite rendering loops (FE-BUG-001)
  docs/STATUS.md
  packages/web-ui/src/App.tsx
  packages/web-ui/src/components/SSEProgressIndicator.tsx
  packages/web-ui/src/components/TransformDesigner.tsx
  packages/web-ui/src/context/AppContext.tsx
  packages/web-ui/src/hooks/useMemoryMonitor.ts
Due: web-ui

Update STATUS.md to reflect FE-BUG-001 resolution
  docs/STATUS.md
Due: none

Fix CSV file processing error (FE-BUG-017)
  docs/STATUS.md
  packages/frontend/test-csv-processing.html
  packages/web-ui/src/components/WorkflowManager.tsx
  packages/web-ui/src/components/__tests__/WorkflowManager.csv-processing.test.tsx
Due: web-ui

Implement backend file upload integration (FE-BUG-018)
  docs/STATUS.md
  packages/frontend/test-backend-upload.html
  packages/frontend/test-data.csv
  packages/frontend/test-full-integration.html
  packages/web-ui/src/components/DataSourcePicker.tsx
  packages/web-ui/src/components/WorkflowManager.tsx
  packages/web-ui/src/config/index.ts
  packages/web-ui/src/platform-bridge.ts
Due: web-ui

Fix DataCloak FFI integration and run E2E tests
  docker-compose.rust.yml
  packages/backend/Dockerfile.rust
  packages/backend/jest.config.js
  packages/backend/src/services/datacloak-koffi-wrapper.ts
  packages/backend/src/services/datacloak-wrapper.ts
  packages/backend/src/tests/e2e/compliance-workflows.test.ts
  packages/backend/src/tests/load/concurrent-risk-assessments.test.ts
  packages/backend/src/types/jest.d.ts
  packages/backend/test-real-datacloak.sh
  packages/backend/tsconfig.test.json
Due: backend

feat(design): add MongoDB Compass-inspired design system sample
  packages/web-ui/design-sample.html
Due: none

REFACTOR: Clean up maskFields implementation for clarity
  packages/backend/src/routes/sentiment.routes.ts
  packages/backend/src/services/__tests__/business-event-registry.service.test.ts
  packages/backend/src/services/__tests__/rule-engine.test.ts
  packages/backend/src/services/__tests__/trend-calculator.service.test.ts
  packages/backend/src/services/trend-calculator.service.ts
  packages/web-ui/src/components/__tests__/FileUploadPreview.simple.test.tsx
Due: web-ui, backend

REFACTOR: Clean up BusinessEventRegistry implementation with constants
  packages/backend/src/routes/__tests__/progressive-api.test.ts
  packages/backend/src/services/__tests__/monitoring.service.test.ts
  packages/backend/src/services/__tests__/rule-engine.test.ts
  packages/backend/src/services/business-event-registry.service.ts
  packages/backend/src/services/rule-engine.service.ts
  packages/backend/src/services/trend-calculator.service.ts
  packages/backend/tests/utils/__tests__/comprehensive-data-generator.test.ts
Due: backend

feat(automation): implement rule engine core with TDD approach
  packages/backend/src/routes/__tests__/progressive-api.test.ts
  packages/backend/src/routes/progressive.routes.ts
  packages/backend/src/routes/sentiment.routes.ts
  packages/backend/src/services/__tests__/impact-calculator.service.test.ts
  packages/backend/src/services/__tests__/monitoring.service.test.ts
  packages/backend/src/services/__tests__/prediction.service.test.ts
  packages/backend/src/services/__tests__/rule-engine.test.ts
  packages/backend/src/services/job-queue.service.ts
  packages/backend/src/services/monitoring.service.ts
  packages/backend/src/services/rule-engine.service.ts
  packages/backend/src/utils/__tests__/comprehensive-data-generator.test.ts
  packages/backend/src/utils/comprehensive-data-generator.ts
  packages/web-ui/src/components/FileUploadPreview.tsx
  packages/web-ui/src/components/__tests__/FileUploadPreview.unit.test.tsx
Due: web-ui, backend
